Package: kylin-server-rpm-search
Version: 1.1.0
Section: net
Priority: optional
Architecture: all
Depends: python3 (>= 3.8), python3-pyqt5 (>= 5.14), libzstd1
Installed-Size: 1024
Maintainer: ziyiliunian <316878142@qq.com>
Homepage: https://github.com/ziyiliunian/search_rpm
Description: Kylin Server multi-architecture RPM package downloader
 PyQt5 desktop tool for browsing Kylin Server RPM repositories, searching packages and downloading selected files.
